*{
    margin: 0;
    padding: 0;
}
h1{
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    text-align: center;
    margin-bottom: 10px;
    padding: 8px 12px;
}
#navbar{
    background: #95a5a6;
}
