body{
    background: url(pexels-2.jpg) center center/cover;
    background-repeat: no-repeat;
}
/* loging form  */
.from{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}
.from h1{
    margin: 50px;
    color: #fff;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
/* boxes */
.box{
    margin: 20px;
    padding: 12px;
    width: 65%;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    font-size: lrem;
    color: #fff;
}
#submit{
    padding: 10px 50px;
    margin-top: 30px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: lrem;
}
#submit:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
::placeholder{
    color: white;
    opacity: 0.7;
}