img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid red;
}
.img1 p{
    border: 2px solid rebeccapurple;
    padding: 10px;
    height: 100px;
    width: 100px;overflow: scroll;
}
.img2 p{
    border: 2px solid rebeccapurple;
    padding: 10px;
    height: 100px;
    width: 100px;
    overflow: scroll;
}
div{
    float: left;
    margin: 10px;
}