:root{
    --fast: #0be881;
    --sec: #1e272e;
    --main: #ffdd59;
    --nice: #D6A2E8;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-family: serif;
    margin: 0;
}
.main{
    background: var(--main);
    /* display: flex; */
    
}
.main_manu{
    display: flex;
    /* flex-direction: row-reverse; */
}
p{
    background-color: var(--fast);
    margin: 20px ;
    padding: 15px;
    border: 2px solid var(--sec);
}
h1{
    text-align: center;
    margin-bottom: 0;
    color: var(--sec);
    background: var(--fast);
    margin: 20px;
}
.one{
    background: var(--nice);
}